
.active {
  font-weight: bold;
}

.griddle-table {
  select {
    width:auto;
  }
}

.griddle-settings-toggle {
  .settings {
    //@extend .expanded;
    @extend .button;
  }
}

.wrapper-row {
  max-width: 100rem;
  &>.column {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
