
.active {
  font-weight: bold;
}

.grid-table-wrapper {
  font-size: .8rem;
}

.wrapper-row {
  max-width: 100rem;
  &>.column {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.pagination {
  li {
    font-size: 1.2rem;
  }
  input {
    padding: 0 .5rem;
  }
  .pager-active-page {
    display: inline-block;
    //width:4rem;
  }
}
