
.active {
  font-weight: bold;
}

.grid-table-wrapper {
  font-size: .8rem;
}

.wrapper-row {
  max-width: 100rem;
  &>.column {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.Select {
  margin: 0 0 1rem;
}

.pagination {
  li {
    font-size: 1.2rem;
  }
  input {
    padding: 0 .5rem;
  }
  .pager-active-page {
    display: inline-block;
    //width:4rem;
  }
}

.accordion-title::before {
  content: '\025C2' !important;
  margin-top: -1.5rem;
  font-size: 2rem;
}
.is-active > .accordion-title::before {
  content: '\025BE' !important;
  font-size: 1.5rem;
  margin-top: -1rem;
}
